extends layout

block content
  div(class="blog-text")
    h3 Learn
    h5 Welcome to the Blog
    br
    div(class="title-menu")
      - for comment in comments
        div(class="each-post")
          h4= comment.title
          a(href='/#{ comment.id }' class="post-link") View Post
